#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


// Style responvisive pour les petits écrans
@media (max-width: 375px) {
  #root {
    max-width: 335px;
    padding: 1rem;
  }
}