.dropdown {
  width: 48%;
  border-radius: 8px;
  text-align: left;

  .dropdown-title {
    display: flex;
    align-items: center;
    height: 28px;
    justify-content: space-between;
    background: #FF6060;
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    outline: none;
    list-style: none;
  }

  .dropdown-button {
    margin: 0;
    transition: transform 0.3s ease;
    border: none;
    background: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
  }

  .dropdown-button i {
    display: inline-block;
    transition: transform 0.4s ease;
    font-size: 24px;
    width: auto;
    height: auto;
  }

  .dropdown-button i.open {
    transform: rotate(-180deg);
  }

  .dropdown-content {
    transition: max-height 0.5s ease;
    overflow: hidden;
    background: #F6F6F6;
  }

  .dropdown-content.open {
    max-height: 500px; 
  }

  p, ul {
    text-align: justify;
    margin: 10px 20px 20px 10px;
  }

  ul {
    padding-left: 0;
  }

  ul li {
    list-style: none;
    margin-bottom: 5px;
  }
}