.footer { 
  width: 100vw; // prend toujours toute la largeur de la fenêtre
  max-width: 100vw;
  height: auto; 
  padding: 1rem;
  margin-top: auto;
  background-color: #1a1a1a;
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-sizing: border-box;

}

.footer-logo {
   margin: 1rem;
}

.footer-logo img {
   width: 122px;
   height: auto;
}

//style responsive pour les petits écrans
@media (max-width: 376px) {
   .footer-logo img {
      width: 100px;
    }

    .footer p {
      width: 120px;
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-wrap: wrap;
    }

}