header {
  width: 1240px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;       
  box-sizing: border-box;
  margin: 30px 0 40px 0;

  .header-logo {
    margin: 0;           
  }

  nav {
    ul {
      display: flex;       
      list-style: none;    
      margin: 0;
      padding: 0;
      gap: 20px;
      font-size: 24px;         

      li {
        a {
          text-decoration: none;  
          color: #000;            
          font-weight: normal;

          &:hover {
            text-decoration: underline; 
            color: black;
          }
        }
      }
    }
  }
}


// Style responvisive pour les petits écrans
@media (max-width: 375px) {
  header {
    width: 335px;
    height: auto;
    padding: 10px 0;
    margin: 15px 0 20px 0;

    .header-logo img {
      width: 145px;
      height: auto;
    }

    nav ul {
      width: auto;
      text-transform: uppercase;
      gap: 20px;
      font-size: 12px;
    }
  }
}